.pinnedCard {
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: var(--mantine-shadows-md);
  align-self: stretch;
  flex: 1 1 0;
  min-width: 150px;
  background-color: light-dark(
    var(--mantine-color-brand-8),
    var(--mantine-color-brand-8)
  );
  color: light-dark(var(--mantine-color-gray-1), var(--mantine-color-gray-1));
}

.pinnedCard:hover {
  background-color: light-dark(
    var(--mantine-color-brand-7),
    var(--mantine-color-brand-9)
  );
}

.root {
  align-items: center;
  justify-content: start;
  height: calc(100vh - 70px);
  width: 100%;
  overflow: auto;
  margin-top: var(--mantine-spacing-xl);
  padding-inline: 20px;
}
